<p>
  baby works!
</p>
<div class="search-bar">
  <input placeholder="¿Qué estas buscando?" [(ngModel)]="search" type="text">
  <button type="submit"><span><i class="fa fa-search"></i></span> </button> 
</div>


<div *ngFor="let items of items | filterProducts:'name':search">
  <ul>
      <a [routerLink]="['../', items.itemId]"> <p>{{items.name}}</p></a>
    <li>{{items.name}}</li>
    <li>{{items.salePrice}}</li>
    <li>{{items.shortDescription}}</li>
    <li><img src="{{items.thumbnailImage}}" alt=""></li>

  </ul>

</div>