<li> <a [routerLink]="['../show-products']"> Bakery </a> </li>
<li> <a [routerLink]="['../skin-care']"> Skin Care </a></li>
<li> <a [routerLink]="['../electronics']">Electronics</a></li>
<li> <a [routerLink]="['../baby']"> Baby </a></li>
<li> <a [routerLink]="['../clothes']"> Clothes </a></li>
<li> <a [routerLink]="['../make-up']"> Make up </a></li>

<h2>Best Sellers </h2>
<div *ngFor="let items of items">
<ul>
  <li>{{items.name}}</li>
  <li>{{items.salePrice}}</li>
  <li> <img src="{{items.thumbnailImage}}" alt=""></li>
</ul>
</div>