  <li> <button> <a [routerLink]="['../show-products']">Bakery </a>  </button>    </li> 
  <li> <button> <a [routerLink]="['../skin-care']">Skin Care </a> </button>    </li> 
  <li> <button> <a [routerLink]="['../electronics']">Electronics</a> </button>    </li> 
  <li> <button> <a [routerLink]="['../baby']"> Baby </a> </button>    </li> 
  <li> <button> <a [routerLink]="['../clothes']"> Clothes </a> </button>    </li> 
  <li> <button> <a [routerLink]="['../make-up']"> Make up </a> </button>    </li> 
